h2{
    text-align: center;
}

.history{
    font-family: Abel;
    align-items: center;
    border-color: yellow;

}

.history-title{
    font-family: Abel;
    font-weight: bolder;
    align-items: center;
    align-content: center;
}

.about{
    border-color: yellow;
}