
.contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(17, 1, 121);
    font-family: milo;
    color: white;
    height: 500px;
}
