
.jumbotron {
    background-image: url('../../assets/logo.jpg');
    background-size:contain;
    align-items: center;
    height: calc(50vh - 0px);
}  


@keyframes menupics1 {
    from {left: 0px;}
    to  {left: -2300px;} 
}

.sandwich {
    position: relative;
    display: flex;
    block-size: 350px;
    animation: menupics1 11s infinite forwards;
}

body {
    background-color: rgb(226, 178, 4);
}