
.logotext{
    font-family: Abel;
    font-size: 25vw;
    font-weight: bolder;
    text-align: center;
}
.logotext em {
    font-family: Abel;
    font-size: 25vw;
    font-weight: bolder;
    color: goldenrod;
    font-style: normal;
    text-align: center;
    
}

.sublogotext{
        font-family: Abel;
        font-size: 5vw;
        font-weight: bolder;
        text-align: center;
    }

@keyframes menupics1 {
    from {left: 0px;}
    to  {left: -2300px;} 
}

.sandwich {
    position: relative;
    display: flex;
    block-size: 350px;
    animation: menupics1 11s infinite forwards;
}

body {
    background-color: rgb(226, 178, 4);
}