#newin{
    display: flex;
    block-size: 250px;
    align-items: center;
    
}

.menuitems{
    font-family: Abel;
}

.drinks{
    font-size: 5px;

}

h2 h3 h4 {
    font-family: Abel;
    font-weight: bolder;
}